* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

/* UTILITIES */
.pd_left_right {
    padding-left: 20px;
    padding-right: 20px;
}

.pd_top {
    margin-top: 25px;
}

.mg_bottom {
    margin-bottom: 5px;
}

.mg_top {
    margin-top: 15px;
}

/* HEADER */
header {
  height: 70px;
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header img {
    height: 60%;
}

header button {
    height: 55%;
    width: 15%;
    border-radius: 25px;
    cursor: pointer;
    color: white;
    border-color: white;
    background-color: black;
}


/* MAIN */
main {
    height: calc(100vh - 140px);
    background-color: lightseagreen;
    display: flex;
}

.parte_superiore a {
    display: flex;
    align-items: center;
}

.fa-plus-square {
    font-size: 45px;
}

.parte_superiore {
    background-color: plum;
}

.parte_superiore a {
    padding-top: 5px;
}

.parte_superiore img {
    height: 30px;
}

.parte_inferiore {
    background-color: lightgreen;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.parte_inferiore ul li {
    display: flex;
    align-items: center;
}

.fa-user-circle {
    font-size: 25px;
}

nav {
    height: 20%;
    background-color: mintcream;
}

aside {
    height: 100%;
    width: 230px;
    background-color: lightsteelblue;
    display: flex;
    flex-direction: column;
    justify-content: space-between
    ;
}

.dischi {
    height: 100%;
    width: calc(100% - 230px);
    background-color: maroon;
    overflow-y: auto;
}

section {
    height: 30%;
    border: 0.5px solid black;
    background-color: mediumaquamarine;
}

/* FOOTER */
footer {
    height: 70px;
    background-color: lightsalmon;
}