* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* UTILITIES */
.pd_left_right {
    padding-left: 20px;
    padding-right: 20px;
}


/* HEADER */
header {
  height: 70px;
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header img {
    height: 60%;
}

header button {
    height: 55%;
    width: 15%;
    border-radius: 25px;
    cursor: pointer;
    color: white;
    border-color: white;
    background-color: black;
}


/* MAIN */
main {
    height: calc(100vh - 140px);
    background-color: lightseagreen;
    display: flex;
}

.parte_superiore a {
    display: flex;
    align-items: center;
}

.parte_superiore {
    height: 70%;
    background-color: plum;
}

.parte_superiore img {
    height: 30px;

}

.parte_inferiore {
    height: 30%;
    background-color: lightgreen;
}

nav {
    height: 20%;
    background-color: mintcream;
}

aside {
    height: 100%;
    width: 20%;
    background-color: lightsteelblue;
}

.dischi {
    height: 100%;
    width: 80%;
    background-color: maroon;
    overflow-y: auto;
}

section {
    height: 30%;
    border: 0.5px solid black;
    background-color: mediumaquamarine;
}

/* FOOTER */
footer {
    height: 70px;
    background-color: lightsalmon;
}