* {
    margin: 0;
    bottom: 0;
    box-sizing: border-box;
}

/* UTILITIES */
body {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.mg_left {
    margin-left: 5px;
}

.mg_right {
    margin-right: 5px;
}

/* HEADER */
header {
    height: 10%;
    background-color: black;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

header img {
    height: 70%;
}

header button {
    height: 70%;
    border: 0.5px solid black;
    border-radius: 25px;
    padding-left: 25px;
    padding-right: 25px;
    color: white;
    border-color: white;
    background-color: black;
    cursor: pointer;
}

/* MAIN */
main {
    background-color: lightgrey;
    flex-grow: 1;
    display: flex;
}

aside {
   width: 15%;
   height: 100%;
   background-color: lightseagreen;
}

.parte_superiore {
    height: 60%;
    background-color: lightskyblue;
}

.parte_inferiore {
    height: 40%;
    background-color: lightyellow;
}

article {
    width: 85%;
    height: 100%;
    background-color: lightyellow;
    overflow-y: auto;
}

nav {
    height: 15%;
    background-color: lightslategrey;
}


section {
    height: 40%;
    background-color: lightpink;
    border: 0.5px solid black;
}

/* FOOTER */
footer {
    height: 60px;
    background-color: lightgreen;
}