* {
    margin: 0;
    bottom: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}


/* UTILITIES */
body {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.mg_top {
    margin-top: 15px;
}

.mg_top2 {
    margin-top: 25px;
}

.pd_bottom {
    padding-bottom: 10px;
}

.pd_left {
    padding-left: 15px;
}

.pd_right {
    padding-right: 15px;
}

/* HEADER */
header {
    height: 10%;
    background-color: black;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

header img {
    height: 70%;
}

header button {
    height: 70%;
    border: 0.5px solid black;
    border-radius: 25px;
    padding-left: 25px;
    padding-right: 25px;
    color: white;
    border-color: white;
    background-color: black;
    cursor: pointer;
}


/* MAIN */
main {
    background-color: lightgrey;
    flex-grow: 1;
    display: flex;
}

aside {
   width: 15%;
   height: 100%;
   background-color: lightseagreen;
}

.parte_superiore {
    height: 60%;
    background-color: lightskyblue;
}

li img {
    height: 30px;
}

.parte_inferiore {
    height: 40%;
    background-color: lightyellow;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

article {
    width: 85%;
    height: 100%;
    background-color: lightyellow;
    overflow-y: auto;
}

nav {
    height: 15%;
    background-color: lightslategrey;
}

nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

section {
    height: 50%;
    background-color: lightpink;
    border: 0.5px solid black;
}

section img {
    height: 50%;
}


/* FOOTER */
footer {
    height: 60px;
    background-color: lightgreen;
}